#DVD_logo {
	overflow: hidden;
}

#DVD_svg {
	transform: translateX(100px);
	filter: drop-shadow(-100px 0px 0px red);
}

p {
	font-size: 30px;
	animation-name: rainbow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes rainbow {
	0%   {color:red; }
	14%  {color:orange; }
	29%  {color:yellow; }
	43%  {color:green; }
	57%  {color:blue; }
	71%  {color:cyan; }
	86%  {color:violet; }
	100% {color:red; }
}
